.posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  @media (min-width: 768px) {
    .posts-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .blog-posts-section {
    padding: 2rem 1rem;
  }
  .posts-grid img {
      max-width: 300px;
  }

  video {
      max-width: 100vw;
  }