/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/home/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    gap: 1rem;
  }
  @media (min-width: 768px) {
    .posts-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .blog-posts-section {
    padding: 2rem 1rem;
  }
  .posts-grid img {
      max-width: 300px;
  }

  video {
      max-width: 100vw;
  }
